**/.vscode/**
**/.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/rust-test/**
**/fixtures/**
**/scripts/**
**/docs/DEVELOPMENT.md
**/jest.config.js
.git/**
LICENSE.md
README.md
CHANGELOG.md